//
// Custom WP plugins Styles
//


// Newsletter

.tnp-subscription {

  position: relative;
  margin: 0 !important;
  max-width: none !important;
  border-radius: $border-radius-lg;
  overflow: hidden;

  label {
    display: none !important;
  }

  input[type=email]{
    font-weight: $font-weight-medium !important;
    background-color: #fff !important;
  }

  ::-webkit-input-placeholder { /* Edge */
    color: $secondary !important;
  }

  :-ms-input-placeholder { /* Internet Explorer */
    color: $secondary !important;
  }

  ::placeholder {
    color: $secondary !important;
  }

  .tnp-field-button{
    position: absolute;
    top: 0;
    right: 0;
  }

  .tnp-field input[type="submit"] {
    right: 0;
    width: 50px;
    background: $primary;

    border-radius: $border-radius-lg;
  }

  div.tnp-field{
    margin-bottom: 0 !important;
  }

  /*.tnp-field input[type="submit"]*/

}


// Appointment Booking Calendar

.abc_selectdate.fields { display: none;}

#cp_abcform_pform{
  @extend .row;
  #calarea_3,#calarea_2{
    @extend .col-12, .col-lg-8;
  }
  .custom-form-appointment {
    @extend .col-12, .col-lg-4;
  }
}

.custom-form-appointment{
  padding: 0;
  padding-right: 0!important;
}
.form-style{
  background-color: #fff;
  padding: 20px 20px  0 20px;
  border-radius: 10px;
  font-size: .9rem;
  color: #a6aac6;
  font-family: 'Poppins';
  font-weight: 500;
  border: 1px solid #ccc;
  height: 420px;
}
.yui-calendar div, .yui-calendar td,
.yui-calendar th, .yui-calendar thead,
.yui-calendar span {
  font-family: $font-family-base !important;
}

.yui-calendar .calhead{
    background-color: #ffffff !important;
    color: initial !important;
}
.yui-calendar td.calcell.today {
  border:1px solid #FFAF00!important;
}
.yui-calendar td.calcell.oom {
  cursor:default!important;
  color:#A6AAC6!important;
    background-color: rgba(230, 230, 230,.3)!important;
    border-radius: 3px!important;
    border: none!important;
}
.yui-calendar td.calcell{
  color:#CCC!important;
  border: 1px solid #CCC!important;
}
.yui-calendar td.calcell:focus{
  color: #fff;
  background-color: #008487;
  border-color: #00777a;
}
.yui-calendar td.calcell.restricted {
  margin:2px;color: #000!important;
}
.yui-calendar{
    border-spacing: 1em!important;
}
.yui-calendar .calheader{font-size: 1.3rem!important;}
.yui-calendar td.calcell{border-radius:3px!important;}
.yui-calendar td.calcell a{color:#00A9AD!important;}
.yui-calendar td.calcell.reserveddate a,.yui-calendar td.calcell.selected a{color:#fff!important;}
.cellReserved, .cellReserved12{
  border-radius:10px!important;
  padding: .5rem 1.2rem!important;
  font-size: 1em;
  font-weight: 600;
  line-height: 1.5;
  }
.yui-calendar td.calcell.selected,.yui-calendar td.calcell.reserveddate{color:#fff!important;background-color:#00A9AD!important;padding:5px 0px!important;}
.yui-panel .hd{padding:15px 25px!important;color:#000!important;background-color:#fff!important;font-family: $font-family-base;font-weight: 400!important;font-size: 1.2rem!important;}
.yui-panel .bd{padding:0 25px 25px 25px!important;}
.yui-panel .bd .cell,.yui-panel .bd .cell12{
  border-radius:10px!important;
  background-color:#00A9AD!important;
  padding: .5rem 1.2rem!important;
  font-size: 1em;
  font-weight: 600;
  line-height: 1.5;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.yui-panel .bd .cell:hover{
  color: #fff;
  background-color: #008487!important;
  border-color: #00777a!important;
  @include transition($btn-transition);
}
.yui-panel .bd .cell:focus{
  color: #fff;
  background-color: #008487!important;
  border-color: #00777a!important;
  box-shadow: 0 0 0 0.2rem rgb(38 182 185 / 50%);
}
.listcal>div{
  background-color:#00A9AD!important;
  font-weight: 600!important;
  font-size: 1em;
  padding: .5rem 1.5rem!important;
  border-radius: 10px!important;
}

input[name=subbtn]{
  margin: .25rem 0 1em 15px;
  background-color: #00a9ad;
  border-style: none;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
  border-radius: 10px;
  margin-left: auto;
  padding: .75rem 3.5rem;
  width: 31.7%;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
input[name=subbtn]:focus{
  color: #fff;
  background-color: #008487;
  border-color: #00777a;
  box-shadow: 0 0 0 0.2rem rgb(38 182 185 / 50%);
}
input[name=subbtn]:hover{
  color: #fff;
  background-color: #008487;
  border-color: #00777a;
}

#listcal1,#listcal2,#listcal3,#listcal4,#listcal5{margin-bottom: 1em;}
input[name=phone],
input[name=name],
input[name=email],
input[name=hdcaptcha]{
  width: 100%;
  border: none;
  padding-left: 15px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 7px;
}
textarea[name=question][class*="width\: 100%\;"],textarea.outline-style{
  width: 100%;
  padding-left: 15px;
  border: none;
  border-bottom: 1px solid #ccc;
}
input[name=phone],
input[name=name],
input[name=email],
textarea[name=question],
[name=hdcaptcha]:focus{
outline: none ;
}

.yui-calendar .calnavright,.yui-calendar .calnavleft,.container-close{filter: contrast(40%) sepia(46) hue-rotate(-13deg) saturate(1000%);}
.container-close{margin: 5px 0;}

#abcservices ~ img{
  margin-bottom: 5px;
  margin-top: 5px;
  outline: 2px solid #fff;
  outline-offset: -1px;
}
.yui-calcontainer table, .yui-calcontainer th, .yui-calcontainer td{border: none;}
.yui-calcontainer.multi .groupcal{border-color: #ccc!important;height: 420px;}
table.yui-calendar.y2021{border: 1px;height: 420px;}

@media all and (min-width: 0px) and (max-width: 767px){
input[name=subbtn]{
  margin: 1rem 15px;
  width: 100%;
  }
  .form-style{margin-right: 15px!important;}
  .yui-panel .bd .cell,.yui-panel .bd .cell{
    width: 250px;
    padding: 0 25px;
    margin: 5px auto;
  }
  .yui-panel-container a{display: flex;}
}

@media all and (min-width: 766px) and (max-width: 991px){
input[name=subbtn]{
  margin: 1rem 0;
  width: 100%;
  }
  #calarea_2,#calarea_3{padding: 0!important;}
.custom-form-appointment{padding: 0px!important;}
.yui-panel .bd .cell,.yui-panel .bd .cell{
    width: 250px;
    padding: 0 25px;
    margin: 5px auto;
  }
  .yui-panel-container a{display: flex;}
}

